<section class="calltoAction">
  <div class="boxedw page-block">
    <div class="container">
    <div class="col-md-3 col-sm-3 col-xs-12">

    </div>
      <div class="col-md-4 col-sm-4 col-xs-12 widget wow fadeInLeft " data-wow-duration="0.50s" data-wow-delay="0.50s">
          <h2>Get A Quote<small>With Experts Advice</small></h2>
          <p>We help our clients in the process of decision-making where ultimately the client’s concerns are satisfied and the clients are comfortable in signing a fixed price contract.</p>
          <a class="btn btn-primary" href="{{ path_for('contact') }}" title="Get A Quote">Get A Quote <i class="fa fa-chevron-circle-right"></i></a>
          <i class="fa fa-file opaque"></i>
      </div>
    </div><!-- end container -->
  </div> <!-- end boxedw -->
</section>
