<header id="home" class="cbp-af-header header2">
  <div class="header-top BGdark">
    <div class="container">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <span><i class="fa fa-phone"></i> (123) 456-7890 </span>
        <span><i class="fa fa-fax"></i> (123) 456-7890</span>
        <span><i class="fa fa-envelope-o"></i> <a href="mailto:info@companynme.com" title="">info@companynme.com</a> </span>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs">
        <ul class="social list-inline pull-right">
          <li><a class="fb" href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a class="tw" href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a class="yt" href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
          <li><a class="pt" href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a></li>
          <li><a class="li" href="#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="fl" href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
          <li><a class="gplus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="ig" href="#" title="Watch Our Gallery"><i class="fa fa-instagram"></i></a></li>
          <li><a class="vk" href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
<div class="container">
  <div class="col-md-3 col-sm-3 col-xs-12 logo">
      <a title="company Logo" href="index.htm"><img class="img-responsive" src="{{ base_url() }}\public\main\images\company.png" width="200" height="100" alt="Company Logo"></a>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-12 cbp-af-inner rightnav">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="menu">

        <!-- ::: Main Nav ::: -->
         <ul class="nav navbar-nav">
            <li class="active sub"><a href="#" title="Home">Home</a>
              <!-- ::: Nav Level 1 ::: -->
                <ul class="sub-nav">
                    <li><a href="index.htm" title="Home Version 1">Home Version 1</a></li>
                    <li><a href="index2.htm" title="Home Version 2">Home Version 2</a></li>
                    <li><a href="index3.htm" title="Home Version 3">Home Version 3</a></li>
                    <li><a href="index4.htm" title="Home Version 4">Home Version 4</a></li>
                </ul>
                <!-- ::: Nav Level 1 end::: -->
            </li>
            <li class="sub"><a href="#" title="About">About</a>
                <!-- ::: Nav Level 1 ::: -->
                <ul class="sub-nav">
                    <li><a href="about1.htm" title="About Us">About 1</a></li>
                    <li><a href="about2.htm" title="About Us">About 2</a></li>
                    <li class="sub"><a href="#" title="Team">Team</a>
                        <!-- ::: Nav Level 2 ::: -->
                        <ul class="sub-nav">
                          <li><a href="team1.htm" title="Team 1">Team Hover 1</a></li>
                          <li><a href="team2.htm" title="Team 2">Team Hover 2</a></li>
                          <li><a href="team3.htm" title="Team 1">Team Hover 3</a></li>
                          <li><a href="team-single.htm" title="John Doe">Team Single</a></li>
                        </ul>
                        <!-- ::: Nav Level 2 ::: -->
                    </li>
                </ul>
                <!-- ::: Nav Level 1 end::: -->
            </li>

            <li class="sub"><a href="#" title="Pages">Pages</a>
                <!-- ::: Nav Level 1 ::: -->
                <ul class="sub-nav">
                    <li class="sub"><a href="#" title="Service">Services</a>
                        <!-- ::: Nav Level 2 ::: -->
                        <ul class="sub-nav">
                          <li><a href="services.htm" title="Service">Services</a></li>
                          <li><a href="services-single-1.htm" title="Service Sinle Page">Services Single</a></li>
                        </ul>
                        <!-- ::: Nav Level 2 ::: -->
                    </li>
                    <li><a href="testimonials.htm" title="Testimonials">Testimonials</a></li>
                    <li><a href="faq.htm" title="FAQ">FAQ</a></li>
                    <li><a href="clients.htm" title="Clients">Clients</a></li>
                    <li><a href="career.htm" title="Career">Career</a></li>
                    <li><a href="press.htm" title="Press">Press</a></li>
                    <li><a href="404.htm" title="404" target="_blank">404</a></li>
                    <li><a href="sitemap.htm" title="Sitemap">Sitemap</a></li>
                    <li><a href="elements.htm" title="Elements">Elements</a></li>
                </ul>
                <!-- ::: Nav Level 1 end::: -->
            </li>

            <li class="sub"><a href="#" title="Portfolio">Portfolio</a>
                <!-- ::: Nav Level 1 ::: -->
                <ul class="sub-nav">
                  <li><a href="portfolio-2col.htm" title="Portfolio 2 Column"> Portfolio 2 Column</a></li>
                  <li><a href="portfolio-3col.htm" title="Portfolio 3 Column"> Portfolio 3 Column</a></li>
                  <li><a href="portfolio-4col.htm" title="Portfolio 4 Column"> Portfolio 4 Column</a></li>
                  <li><a href="portfolio-full-width.htm" title="Portfolio Full Width"> Portfolio Full Width</a></li>
                  <li><a href="portfolio1.htm" title="Portfolio Single 1">Portfolio Single 1</a></li>
                  <li><a href="portfolio2.htm" title="Portfolio Single 2">Portfolio Single 2</a></li>
                </ul>
                <!-- ::: Nav Level 1 end::: -->
            </li>

            <li class="sub"><a href="#" title="Gallery">Gallery</a>
                <!-- ::: Nav Level 1 ::: -->
                <ul class="sub-nav">
                  <li><a href="gallery4.htm" title="Gallery 4 Column">Gallery 4 Column</a></li>
                  <li><a href="gallery3.htm" title="Gallery 3 Column">Gallery 3 Column</a></li>
                  <li><a href="gallery2.htm" title="Gallery 2 Column">Gallery 2 Column</a></li>
                  <li><a href="gallery-full-width.htm" title="Gallery Full Width">Gallery Full Width</a></li>
                </ul>
                <!-- ::: Nav Level 1 end::: -->
            </li>

            <li class="sub"><a href="#" title="Blog">Blog</a>
                <!-- ::: Nav Level 1 ::: -->
                <ul class="sub-nav">
                  <li><a href="blog.htm" title="Gallery 4 Column">Blog Main</a></li>
                  <li><a href="blog-single.htm" title="Gallery 3 Column">Single Post</a></li>
                </ul>
                <!-- ::: Nav Level 1 end::: -->
            </li>

            <li class="sub"><a href="#" title="Contact">Contact</a>
                <!-- ::: Nav Level 1 ::: -->
                <ul class="sub-nav">
                  <li><a href="contact1.htm" title="Contact">Contact 1</a></li>
                  <li><a href="contact2.htm" title="Contact">Contact 2</a></li>
                </ul>
                <!-- ::: Nav Level 1 end::: -->
            </li>

          </ul>
          <!-- ::: Main Nav ::: -->

      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
</div>
</header>
